{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static 'ViaSafe/css/style.css' %}">
      <script src="{% static 'ViaSafe/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ViaSafe/js/ui.js' %}"></script>
  </head>

  <body>
    <button id="searchbutton"></button>
    <button id="markbutton"></button>
    <input type="text" id="searchbar" onblur="closeSearch()">

    <div id="map"></div>
    <script src="{% static 'ViaSafe/js/map.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3AAMld7-LU0KNMsDZw5--624wOqpzOI&callback=initMap">
    </script>
  </body>
</html>