{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static 'ViaSafe/css/style.css' %}">
      <script src="{% static 'ViaSafe/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ViaSafe/js/ui.js' %}"></script>
  </head>

  <body>
    <button class="navbutton" id="searchbutton"></button>
    <button class="navbutton" id="markbutton"></button>



        <input type="text" id="searchbar" onblur="closeAll()">


    <div id="map"></div>
    <script src="{% static 'ViaSafe/js/map.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3AAMld7-LU0KNMsDZw5--624wOqpzOI&callback=initMap">
    </script>

    <div class="screen" id="loginscreen">
      <input type="text" id="username" placeholder="username">
      <input type="password" id="password" placeholder="password">
      <input type="button" class="actionbutton" value="Login" onclick="doLogin()">
      <input type="button" class="actionbutton" value="Cancel" onclick="closeAll()">
    </div>

    <div class="screen" id="reportscreen">
      <input type="text" id="title" placeholder="Title">
      <textarea id="description" placeholder="Description"></textarea>
      <input type="button" class="actionbutton" value="Submit" onclick="doSubmit()">
      <input type="button" class="actionbutton" value="Cancel" onclick="closeAll()">
    </div>

    <script>
      function addAllIncidents() {
        {% for a in key %}
          addIncident(a.title, a.description, a.longitude, a.latitude);
        {% endfor %}
      }
      alert();
    </script>
  </body>
</html>
