body {
    background-color: 224455;
}

button {
    width: 48px;
    height: 48px;
    
    top: -48px;
    
    border: none;
    outline: none;
    border-radius: 5px;

    background: none;
    background-size: cover;
    opacity: 0.5;

    transition: all 0.5s;
}

button:hover {
    width: 56px;
    height: 56px;
    opacity: 1;
    cursor: pointer;
}

button:active {
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.2);
}

#searchbutton {
    position: absolute;
    background-image: url("../images/search.png");
    left: 10px;
}

#markbutton {
    position: absolute;
    background-image: url("../images/marker.png");
    right: 10px;
}

#searchbar {
    position: relative;
    width: 100%;
    font-size: 24px;
    padding-left: 10px;
    height: 48px;
    
    top: -64px;
    transition: all 0.5s;
    
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    border-color: #fff;
    border-radius: 8px;
    outline: none;
}
