<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="css/style.css">
      <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/ui.js"></script>
  </head>
    
  <body>
    <input type="text" id="searchbar" onblur="closeSearch()">
<button id="searchbutton"></button>
    <button id="markbutton"></button>
    
<!--
    <div id="map"></div>
    <script src="js/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3AAMld7-LU0KNMsDZw5--624wOqpzOI&callback=initMap">
    </script>
-->
    </body>
</html>
